SUPABASE_URL = "https://oyqaixvaduqkjrrmydbm.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95cWFpeHZhZHVxa2pycm15ZGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2NjI3NDIsImV4cCI6MjA3NjIzODc0Mn0.N2lKHsTWDR9NfVU9x7Gefe9vkCXrccvYLDRG1-65W7Y"   # use service_role locally
SUPABASE_BUCKET = "voice-recordings"
SUPABASE_TABLE  = "feedback"
SIGNED_SECONDS  = 3600
